body {
  margin: 0;
  background: linear-gradient(to right, blue, red);

  color: white;
  font-size: 2rem;
}

.main {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

li {
  list-style: none;
}

[type="checkbox"] {
  zoom: 2;
}

/* form */
.form1 {
  text-align: center;
}

form > input {
  line-height: 2rem;
  padding: 1rem;
  border-radius: 7px;
}

/* main task area */
.task-section,
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.to-do,
.not-to-do {
  min-width: 50%;
}

hr {
  margin: 2rem;
}
